/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.width30 {
    width: 33.33%;
    padding: 0 15px;
  }
.phone-number .number {
    float: left;
    position: relative;
    top: -3px;
    padding-right: 8px;
  }
  
  .phone-number .mat-input-element {
    width: 65%;
    position: relative;
    top: -3px;
  }

  .phone-number mat-label {
    background-color: #ffffff;
  }

  .mat-input-element {
    font-size: 16px !important;
  }
  
  .dialog-btn-actions {
    text-align: end;
    padding: 15px 0 0;
  }
  
  .dialog-btn-actions .mat-button {
    padding: 0 30px !important;
  }

  .mat-button.mat-primary, .mat-raised-button.mat-primary {
    background-color: #005aab;
    color: white;
    font-size: 13px;
  }
  .submit-btn-no {
    border: 1px solid #005aab !important;
    color: black;
    margin-right: 15px !important;
  }

  /******* LANGUAGE ********/

.language-select {
    color: white;
    /* padding: 0 15px; */
    font-size: 12px;
    top: 15px;
    position: relative;
  }
  
  .language-select .switch-medium.switch-labeled.checked small {
    left: 55px !important;
    box-shadow: -5px 0px 5px -4px #000000;
    border: 1px solid #d4d4d4;
  }
  
  .language-select .switch-medium.switch-labeled small {
    border: 1px solid #d4d4d4;
  }
  
  .language-select .switch-medium.switch-labeled {
    width: 83px !important;
  }
  
  .language-select .switch-text {
    font-size: 10px !important;
  }
  
  .language-select .switch .on {
    top: 0px !important;
  }
  
  .language-select .switch .off {
    color: #484848 !important;
    top: 0px !important;
    left: 36px;
  }
  
  /* span.switch.switch-medium.switch-labeled {
  background: #ffffff !important;
  } */
  
  span.switch.switch-medium.switch-labeled.checked {
    background: #00aeef !important;
    border: 1px solid #00aeef !important;
  }
  
  .language-select small[_ngcontent-c8] {
    box-shadow: 3px 0px 5px -1px rgba(57, 83, 173, 0.81);
  }

  .table-card {
    box-shadow: 0px 0px 7px #e0e0e0;
    background-color: white;
    padding: 15px;
    position: relative;
    border-radius: 3px;
  }

  .table-card h3 {
    position: relative;
    width: 50%;
    float: left;
  }

  .setup-container {
    margin-top: 15px;
  }

  ng2-smart-table tbody {
    background: white;
  }
  
  ng2-smart-table-title a {
    color: white;
    font-weight: 500;
  }
  
  ng2-smart-table-title a:hover {
    color: white;
  }
  
  ng2-smart-table td {
    padding: 10px 15px;
    font-size: 13px;
  }
  
  ng2-smart-table tbody tr:nth-child(even) {
    background: whitesmoke;
  }
  
  ng2-smart-table input {
    font-size: 13px !important;
  }
  
  ng2-smart-table a.ng2-smart-action {
    margin: 0 5px;
  }
  
  ng2-smart-table th {
    padding: 5px 15px;
  }
  
  ng2-smart-table tbody tr:hover {
    background: rgba(255, 235, 59, 0.44) !important;
  }

  .ng2-smart-action img {
    width: 18px;
  }

  .ng2-smart-title {
    color: white !important;
    font-weight: 500;
    font-size: 13px;
  }

  tr.ng2-smart-titles {
    background-color: #005aab;
  }

  li.ng2-smart-page-item a {
    height: 30px;
    width: 30px;
    line-height: 12px;
    font-size: 12px;
    margin: 10px 4px;
    color: black;
    padding: 8px 10px;
  }

  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  nav.ng2-smart-pagination-nav {
    position: absolute;
    right: 15px;
  }

  ng2-st-tbody-custom {
    width: 105px;
    display: block;
  }

  a.ng2-smart-action.ng2-smart-action-edit-edit {
    display: none;
  }

  .table-card {
    box-shadow: 0px 0px 7px #e0e0e0;
    background-color: white;
    padding: 15px;
    position: relative;
    border-radius: 3px;
  }

  .table-card h3 {
    position: relative;
    width: 50%;
    float: left;
  }

  /* Dialog Component */
  .dialog-header {
    /* position: absolute;
       left: 0;
       top: 0; */
    background-color: #005aab;
    color: white;
    height: 50px !important;
    font-size: 15px;
  }

  .delete-dialog-body {
    text-align: center;
    padding: 25px;
  }

  .dialog-close-btn {
    position: absolute !important;
    right: 0;
    background-color: #ff7800;
    border-radius: 0 !important;
    height: 50px !important;
    width: 50px !important;
  }

  .dialog-body {
    margin-top: 15px;
    padding: 16px;
    display: block;
    max-height: 75vh;
    overflow: auto;
  }

  .mat-dialog-container {
    position: relative;
    padding: 0 !important;
  }
  
  