/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.width30 {
    width: 33.33%;
    padding: 0 15px;
  }
.phone-number .number {
    float: left;
    position: relative;
    top: -3px;
    padding-right: 8px;
  }
  
  .phone-number .mat-input-element {
    width: 65%;
    position: relative;
    top: -3px;
  }

  .phone-number mat-label {
    background-color: #ffffff;
  }

  .mat-input-element {
    font-size: 16px !important;
  }
  
  .dialog-btn-actions {
    text-align: end;
    padding: 15px 0 0;
  }
  
  .dialog-btn-actions .mat-button {
    padding: 0 30px !important;
  }

  .mat-button.mat-primary, .mat-raised-button.mat-primary {
    background-color: #005aab;
    color: white;
    font-size: 13px;
  }
  .submit-btn-no {
    border: 1px solid #005aab !important;
    color: black;
    margin-right: 15px !important;
  }

  /******* LANGUAGE ********/

.language-select {
    color: white;
    /* padding: 0 15px; */
    font-size: 12px;
    top: 15px;
    position: relative;
  }
  
  .language-select .switch-medium.switch-labeled.checked small {
    left: 55px !important;
    box-shadow: -5px 0px 5px -4px #000000;
    border: 1px solid #d4d4d4;
  }
  
  .language-select .switch-medium.switch-labeled small {
    border: 1px solid #d4d4d4;
  }
  
  .language-select .switch-medium.switch-labeled {
    width: 83px !important;
  }
  
  .language-select .switch-text {
    font-size: 10px !important;
  }
  
  .language-select .switch .on {
    top: 0px !important;
  }
  
  .language-select .switch .off {
    color: #484848 !important;
    top: 0px !important;
    left: 36px;
  }
  
  /* span.switch.switch-medium.switch-labeled {
  background: #ffffff !important;
  } */
  
  span.switch.switch-medium.switch-labeled.checked {
    background: #00aeef !important;
    border: 1px solid #00aeef !important;
  }
  
  .language-select small[_ngcontent-c8] {
    box-shadow: 3px 0px 5px -1px rgba(57, 83, 173, 0.81);
  }